<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <!-- 
    <div ng-if="user">
      username: {{user.username}}
    </div>
  -->

    <!--<audio controls id="tutar" autoplay>
      <source src="http://jqueryegitimseti.com/sound/tutar.ogg" type="audio/ogg">
      Your browser does not support the audio tag.
    </audio> -->
    
    <div class="businessArea" ng-if="user.type == 1">
      <div class="align-center margin-bottom-10">
        <qr text="payData.tutar"></qr>
      </div>

      <label class="item item-input">
        <span class="input-label">Tutar</span>
        <input type="tel" ng-model="payData.tutar">
      </label>

      <button class="button button-block button-positive" ng-click="addPay()">
        Tutarı Belirle
      </button>
      
       
        
        <div class="card">
            <div class="item item-divider">
                Gelen Ödemeler
            </div>
             <ion-list>
              <ion-item ng-repeat="pay in payList | reverse">{{pay.price}} TL</ion-item>
            </ion-list>
        </div>


    </div>


    <div class="customerArea" ng-if="user.type == 0">
      <h4>{{user.name}} {{user.surname}}</h4> 
      Kredi: <b>{{user.credit}}</b>TL

      <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="scan()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>

        <div class="card"  ng-if="payVar.status">
            <div class="item item-divider">
                Scan Results
            </div>

            <div class="item item-text-wrap">
              
              <h3 class="inlineBlock">Tutar </h3>  <h2  class="inlineBlock">{{payVar.price}}</h2> TL
                
              <div class="margin-top-10"></div>
              <h3>Ödemeyi Onaylıyor musunuz?</h3>
              <div class="align-center margin-top-10">
                <button class="button button-assertive" style="width:45%" ng-click="declinePay()">
                    Reddet
                  </button>
                  <button class="button button-balanced" style="width:45%" ng-click="acceptPay()">
                    Onayla
                  </button>
              </div>
            </div>
            
            <!-- 
            <div class="item item-text-wrap">
              <h3 style="color:red" ng-if="!payVar.yeterli">Bakiye yetersiz!</h3>
            </div>
          -->
        </div>
    </div>

    <!-- 
    <ion-list>
        <ion-item ng-repeat="item in payList" 
                  item="item"
                  href="#/item/{{item.name}}" class="item-remove-animate">
           {{ item.name }}
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            Share
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>

      <label class="item item-input" style="margin-top:300px">
        <span class="input-label">Message</span>
        <input type="text" ng-model="payData.text">
      </label>

      <button class="button button-block button-positive" ng-click="addPay()">
        Add
      </button>

    -->
  


  </ion-content>
</ion-view>
